#commentator1NameText:before {
    content: "Xeno";
}
#commentator2NameText:before {
    content: "Dagobert";
}


#commentator1TwitterText:before {
    content: "@HOST_Xeno";
}
#commentator2TwitterText:before {
    content: "@DeOomDagobert";
}

