#commentator1NameText:before {
    content: "Jish";
}
#commentator2NameText:before {
    content: "Bati";
}


#commentator1TwitterText:before {
    content: "@ItsJish";
}
#commentator2TwitterText:before {
    content: "@Bati_KING";
}

